#
# Qualcomm Initialization for Motorola Boston (boston) Recovery
#

on early-init
    # Load Touchscreen and Storage Drivers
    insmod /vendor/lib/modules/qcom-glink.ko
    insmod /vendor/lib/modules/i2c-qcom-geni.ko
    insmod /vendor/lib/modules/touchscreen.ko

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    start set_permissive

on fs
    wait /dev/block/platform/soc/1d84000.ufshc
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice

on boot
    # USB Configuration
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct 2e81

service set_permissive /system/bin/toolbox setenforce 0
    oneshot
    seclabel u:r:recovery:s0